In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/quality-of-life-for-each-country/Quality_of_Life.csv

### Importing Matplotlib and Seaborn for visualization

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

## Loading in the dataset while assigning the country column as the index.

In [3]:
df = pd.read_csv('/kaggle/input/quality-of-life-for-each-country/Quality_of_Life.csv', index_col = ['country'])

## Checking the basic overview of the data we have:

In [4]:
df.head()

,Purchasing Power Value,Purchasing Power Category,Safety Value,Safety Category,Health Care Value,Health Care Category,Climate Value,Climate Category,Cost of Living Value,Cost of Living Category,Property Price to Income Value,Property Price to Income Category,Traffic Commute Time Value,Traffic Commute Time Category,Pollution Value,Pollution Category,Quality of Life Value,Quality of Life Category
country,,,,,,,,,,,,,,,,,,
Afghanistan,32.15,'Very Low',25.33,'Low',24.24,'Low',0.00,NaN,21.08,'Very Low',7.8,'Low',56.17,'Very High',84.44,'Very High',0.0,NaN
Aland Islands,125.01,'Very High',71.81,'High',79.72,'High',0.00,NaN,53.44,'Low',5.33,'Low',19.05,'Very Low',18.05,'Very Low',0.0,NaN
Albania,42.82,'Low',55.52,'Moderate',48.21,'Moderate',86.43,'Very High',40.85,'Low',14.88,'High',36.74,'Moderate',77.25,'High',': 104.16','Low'
Alderney,0.00,NaN,83.79,'Very High',100.00,'Very High',0.00,NaN,0.00,NaN,0.0,NaN,5.00,'Very Low',1.72,'Very Low',0.0,NaN
Algeria,27.60,'Very Low',47.54,'Moderate',54.43,'Moderate',94.82,'Very High',25.31,'Very Low',21.7,'Very High',45.09,'High',63.87,'High',': 98.83','Very Low'

# Cleaning Data:

### We first remove the spaces from the column names for better typeability.

In [5]:
df.columns = df.columns.str.replace(" ", "")

### Here we get rid of the ' at the front and back of the values in every category column.

In [6]:
df['PurchasingPowerCategory'] = df['PurchasingPowerCategory'].str.strip("'")
df['SafetyCategory'] = df['SafetyCategory'].str.strip("'")
df['HealthCareCategory'] = df['HealthCareCategory'].str.strip("'")
df['ClimateCategory'] = df['ClimateCategory'].str.strip("'")
df['CostofLivingCategory'] = df['CostofLivingCategory'].str.strip("'")
df['PropertyPricetoIncomeCategory'] = df['PropertyPricetoIncomeCategory'].str.strip("'")
df['TrafficCommuteTimeCategory'] = df['TrafficCommuteTimeCategory'].str.strip("'")
df['PollutionCategory'] = df['PollutionCategory'].str.strip("'")
df['QualityofLifeCategory'] = df['QualityofLifeCategory'].str.strip("'")
df.head()

,PurchasingPowerValue,PurchasingPowerCategory,SafetyValue,SafetyCategory,HealthCareValue,HealthCareCategory,ClimateValue,ClimateCategory,CostofLivingValue,CostofLivingCategory,PropertyPricetoIncomeValue,PropertyPricetoIncomeCategory,TrafficCommuteTimeValue,TrafficCommuteTimeCategory,PollutionValue,PollutionCategory,QualityofLifeValue,QualityofLifeCategory
country,,,,,,,,,,,,,,,,,,
Afghanistan,32.15,Very Low,25.33,Low,24.24,Low,0.00,NaN,21.08,Very Low,7.8,Low,56.17,Very High,84.44,Very High,0.0,NaN
Aland Islands,125.01,Very High,71.81,High,79.72,High,0.00,NaN,53.44,Low,5.33,Low,19.05,Very Low,18.05,Very Low,0.0,NaN
Albania,42.82,Low,55.52,Moderate,48.21,Moderate,86.43,Very High,40.85,Low,14.88,High,36.74,Moderate,77.25,High,': 104.16',Low
Alderney,0.00,NaN,83.79,Very High,100.00,Very High,0.00,NaN,0.00,NaN,0.0,NaN,5.00,Very Low,1.72,Very Low,0.0,NaN
Algeria,27.60,Very Low,47.54,Moderate,54.43,Moderate,94.82,Very High,25.31,Very Low,21.7,Very High,45.09,High,63.87,High,': 98.83',Very Low

### Here we see that some Numeric Columns have non numeric data so we will clean that.

In [7]:
numeric_cols = df.select_dtypes(include = 'number')
category_cols = df.select_dtypes(exclude = 'number' )

In [8]:
numeric_cols

,PurchasingPowerValue,SafetyValue,HealthCareValue,ClimateValue,CostofLivingValue,TrafficCommuteTimeValue,PollutionValue
country,,,,,,,
Afghanistan,32.15,25.33,24.24,0.00,21.08,56.17,84.44
Aland Islands,125.01,71.81,79.72,0.00,53.44,19.05,18.05
Albania,42.82,55.52,48.21,86.43,40.85,36.74,77.25
Alderney,0.00,83.79,100.00,0.00,0.00,5.00,1.72
Algeria,27.60,47.54,54.43,94.82,25.31,45.09,63.87
...,...,...,...,...,...,...,...
Wallis And Futuna,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Western Sahara,0.00,62.87,0.00,0.00,0.00,0.00,0.00
Yemen,20.74,34.07,25.31,0.00,48.66,15.00,83.17
Zambia,22.32,54.39,54.44,0.00,36.74,38.86,80.90
Zimbabwe,28.76,39.31,44.80,96.76,35.36,27.79,78.53

In [9]:
category_cols

,PurchasingPowerCategory,SafetyCategory,HealthCareCategory,ClimateCategory,CostofLivingCategory,PropertyPricetoIncomeValue,PropertyPricetoIncomeCategory,TrafficCommuteTimeCategory,PollutionCategory,QualityofLifeValue,QualityofLifeCategory
country,,,,,,,,,,,
Afghanistan,Very Low,Low,Low,NaN,Very Low,7.8,Low,Very High,Very High,0.0,NaN
Aland Islands,Very High,High,High,NaN,Low,5.33,Low,Very Low,Very Low,0.0,NaN
Albania,Low,Moderate,Moderate,Very High,Low,14.88,High,Moderate,High,': 104.16',Low
Alderney,NaN,Very High,Very High,NaN,NaN,0.0,NaN,Very Low,Very Low,0.0,NaN
Algeria,Very Low,Moderate,Moderate,Very High,Very Low,21.7,Very High,High,High,': 98.83',Very Low
...,...,...,...,...,...,...,...,...,...,...,...
Wallis And Futuna,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,NaN
Western Sahara,NaN,High,NaN,NaN,NaN,12.75,High,NaN,NaN,0.0,NaN
Yemen,Very Low,Low,Low,NaN,Low,15.98,High,Very Low,Very High,0.0,NaN
Zambia,Very Low,Moderate,Moderate,NaN,Very Low,72.42,Very High,Moderate,Very High,0.0,NaN
Zimbabwe,Very Low,Low,Moderate,Very High,Very Low,17.35,Very High,Low,High,': 94.20',Very Low

### Here we see that QualityofLifeValue and PropertyPricetoIncomeValue are still objects as they seem to have non numeric data in them. So we will clean it.

In [10]:
category_cols['PropertyPricetoIncomeValue'].unique()

array(['7.8', '5.33', '14.88', '0.0', '21.7', '9.03', '8.01',
       '1.8399999999999999', '20.05', '20.95', '5.32', '8.25', '11.76',
       '15.24', '4.9', '12.26', '14.67', '12.79', '6.82', '6.06', '6.85',
       '14.07', '12.54', '13.12', '118.01', '15.4', '6.97', '9.22',
       '1.25', '20.67', '26.77', '46.06', '10.47', '17.12', '8.64', '8.5',
       '2.69', '16.03', '28.6', '17.98', '11.15', '9.63', '12.45', '48.0',
       '8.06', '13.17', '37.22', '6.36', '12.41', '0.64', '16.89', '12.0',
       '17.85', '16.0', '7.15', '4.41', '11.27', '2.8200000000000003',
       '49.87', '8.75', '6.51', '8.16', '10.55', '8.04', '29.58', '69.71',
       '103.29', '12.21', '9.12', '81.28', '12.72', '4.75', '175.23',
       '9.65', '11.44', '9.66', '0.68', '7.13', '19.72', '5.5', '29.83',
       '13.22', '6.39', '11.26', '16.65', '8.17', '6.58', '3.63', '13.98',
       '9.47', '41.78', '20.19', '12.29', '13.33', '6.77', '10.27',
       '18.77', '13.85', '6.69', '12.89', '12.67', '8.38', '16.26',
       '3.11', '25.57', '7.62', '5.07', '12.25', '8.48', '21.1', '22.4',
       '81.6', '11.61', '100.71', '11.14', '6.62', '14.99', '8.59',
       '14.77', '12.92', '39.84', '16.08', '13.42', '50.55', '17.19',
       '3.55', '33.09', '7.63', '8.43', '8.63', '18.98', "'2,746.00'",
       '25.59', '30.31', '12.24', '36.43', '2.81', '14.3', '23.2', '6.71',
       '11.68', '450.4', '15.68', '18.58', '22.2', '11.03', '13.97',
       '4.21', '5.06', '35.01', '7.95', '10.16', '14.84', '446.83',
       '20.27', '0.85', '4.66', '205.03', '5.34', '3.09', '24.07',
       '16.78', '3.23', '20.4', '6.92', '14.2', '13.09', "'1,004.18'",
       '360.1', '3.21', '21.06', '2.08', '8.28', '39.94', '24.64', '3.18',
       '7.45', '10.94', '118.65', '20.89', '16.11', '134.04', '25.31',
       '4.13', '7.42', '2.44', '14.18', '13.06', '11.05', '25.99', '0.55',
       "'1,075.92'", '13.88', '3.54', '12.28', '11.78', '13.08', '29.88',
       '17.49', '24.77', '12.75', '15.98', '72.42', '17.35'], dtype=object)

In [11]:
category_cols['PropertyPricetoIncomeValue'] = category_cols['PropertyPricetoIncomeValue'].str.strip("''")
category_cols['PropertyPricetoIncomeValue'] = category_cols['PropertyPricetoIncomeValue'].str.replace(",","")
category_cols['PropertyPricetoIncomeValue'] = category_cols['PropertyPricetoIncomeValue'].astype(float)

In [12]:
category_cols['QualityofLifeValue'].unique()

array(['0.0', "': 104.16'", "': 98.83'", "': 115.06'", "': 116.56'",
       "': 190.69'", "': 192.07'", "': 113.51'", "': 158.68'",
       "': 74.51'", "': 127.48'", "': 168.52'", "': 134.51'", "': 36.55'",
       "': 115.99'", "': 144.49'", "': 78.92'", "': 164.54'",
       "': 106.49'", "': 120.52'", "': 107.90'", "': 129.35'",
       "': 176.02'", "': 158.84'", "': 174.21'", "': 208.65'",
       "': 89.09'", "': 125.58'", "': 85.41'", "': 93.05'", "': 185.10'",
       "': 48.88'", "': 122.12'", "': 203.06'", "': 165.08'",
       "': 125.48'", "': 189.75'", "': 17.47'", "': 136.83'",
       "': 107.92'", "': 134.04'", "': 143.26'", "': 202.04'",
       "': 124.70'", "': 99.98'", "': 85.42'", "': 107.76'", "': 166.37'",
       "': 161.76'", "': 151.06'", "': 83.92'", "': 184.32'",
       "': 125.01'", "': 105.92'", "': 101.33'", "': 130.09'",
       "': 159.55'", "': 98.32'", "': 164.22'", "': 98.43'", "': 134.14'",
       "': 172.77'", "': 224.31'", "': 149.76'", "': 136.22'",
       "': 132.54'", "': 127.02'", "': 122.53'", "': 62.52'",
       "': 147.33'", "': 110.96'", "': 88.97'", "': 211.85'",
       "': 186.57'", "': 41.24'", "': 119.96'", "': 194.48'",
       "': 213.42'", "': 104.14'", "': 122.74'", "': 109.45'",
       "': 85.92'", "': 96.95'", "': 153.60'", "': 168.85'", "': 192.73'",
       "': 142.14'", "': 113.56'", "': 0.00'", "': 173.20'", "': 123.62'",
       "': 157.13'", "': 157.96'", "': 178.94'", "': 155.84'",
       "': 148.74'", "': 184.67'", "': 75.17'", "': 193.48'",
       "': 204.91'", "': 160.18'", "': 105.37'", "': 84.52'",
       "': 115.44'", "': 130.42'", "': 114.78'", "': 176.65'",
       "': 175.20'", "': 189.14'", "': 141.60'", "': 133.78'",
       "': 97.18'", "': 94.20'"], dtype=object)

In [13]:
category_cols['QualityofLifeValue'] = category_cols['QualityofLifeValue'].str.strip("':'")
category_cols['QualityofLifeValue'] = category_cols['QualityofLifeValue'].str.replace(" ", "")
category_cols['QualityofLifeValue'] = category_cols['QualityofLifeValue'].astype(float)

## Now that we have turned the Numeric columns into float64 type, we will assign them into the original dataframe.

In [14]:
df['PropertyPricetoIncomeValue'] = category_cols['PropertyPricetoIncomeValue']
df['QualityofLifeValue'] = category_cols['QualityofLifeValue']
df.head()

,PurchasingPowerValue,PurchasingPowerCategory,SafetyValue,SafetyCategory,HealthCareValue,HealthCareCategory,ClimateValue,ClimateCategory,CostofLivingValue,CostofLivingCategory,PropertyPricetoIncomeValue,PropertyPricetoIncomeCategory,TrafficCommuteTimeValue,TrafficCommuteTimeCategory,PollutionValue,PollutionCategory,QualityofLifeValue,QualityofLifeCategory
country,,,,,,,,,,,,,,,,,,
Afghanistan,32.15,Very Low,25.33,Low,24.24,Low,0.00,NaN,21.08,Very Low,7.80,Low,56.17,Very High,84.44,Very High,0.00,NaN
Aland Islands,125.01,Very High,71.81,High,79.72,High,0.00,NaN,53.44,Low,5.33,Low,19.05,Very Low,18.05,Very Low,0.00,NaN
Albania,42.82,Low,55.52,Moderate,48.21,Moderate,86.43,Very High,40.85,Low,14.88,High,36.74,Moderate,77.25,High,104.16,Low
Alderney,0.00,NaN,83.79,Very High,100.00,Very High,0.00,NaN,0.00,NaN,0.00,NaN,5.00,Very Low,1.72,Very Low,0.00,NaN
Algeria,27.60,Very Low,47.54,Moderate,54.43,Moderate,94.82,Very High,25.31,Very Low,21.70,Very High,45.09,High,63.87,High,98.83,Very Low

## Checking for Null Values

In [15]:
df.isna().sum()

PurchasingPowerValue               0
PurchasingPowerCategory           46
SafetyValue                        0
SafetyCategory                     2
HealthCareValue                    0
HealthCareCategory                15
ClimateValue                       0
ClimateCategory                  122
CostofLivingValue                  0
CostofLivingCategory              45
PropertyPricetoIncomeValue         0
PropertyPricetoIncomeCategory     21
TrafficCommuteTimeValue            0
TrafficCommuteTimeCategory        29
PollutionValue                     0
PollutionCategory                 10
QualityofLifeValue                 0
QualityofLifeCategory            122
dtype: int64

### We see that we have quite a lot of null values, so we will clean that up as well. ( Now using the correct separation of Numeric and Categorical Columns )

In [16]:
numeric_cols = df.select_dtypes(include = 'number')
category_cols = df.select_dtypes(exclude = 'number' )

In [17]:
def replace_0_with_median(df):
    for col in df.columns:
        median_value = df[col].median()
        df[col] = df[col].replace(0, median_value)
    return df

In [18]:
numeric_cols = replace_0_with_median(numeric_cols)

In [19]:
numeric_cols

,PurchasingPowerValue,SafetyValue,HealthCareValue,ClimateValue,CostofLivingValue,PropertyPricetoIncomeValue,TrafficCommuteTimeValue,PollutionValue,QualityofLifeValue
country,,,,,,,,,
Afghanistan,32.15,25.330,24.24,0.00,21.080,7.80,56.170,84.440,0.00
Aland Islands,125.01,71.810,79.72,0.00,53.440,5.33,19.050,18.050,0.00
Albania,42.82,55.520,48.21,86.43,40.850,14.88,36.740,77.250,104.16
Alderney,42.93,83.790,100.00,0.00,36.895,11.72,5.000,1.720,0.00
Algeria,27.60,47.540,54.43,94.82,25.310,21.70,45.090,63.870,98.83
...,...,...,...,...,...,...,...,...,...
Wallis And Futuna,42.93,54.635,57.15,0.00,36.895,11.72,29.845,59.765,0.00
Western Sahara,42.93,62.870,57.15,0.00,36.895,12.75,29.845,59.765,0.00
Yemen,20.74,34.070,25.31,0.00,48.660,15.98,15.000,83.170,0.00
Zambia,22.32,54.390,54.44,0.00,36.740,72.42,38.860,80.900,0.00
Zimbabwe,28.76,39.310,44.80,96.76,35.360,17.35,27.790,78.530,94.20